<main>
  <h1>ABCs with Ashna!!</h1>

  <div ng-app= "app">
<body ng-controller="RenderCtrl" ></body>

<div>
  <img width="200" src="/img/images/letters/{{letters[index]}}.jpeg" />
  <img width="200" src="/img/images/nouns/{{letters[index]}}.jpeg" />
</div>
<div>
  <button ng-click="reverse()"> <img width="50" src="/img/images/reverse.png" /></button>
  <button ng-click="current()"> <img width="50" src="/img/images/question.png" /></button>
  <button ng-click="forward()"> <img width="50" src="/img/images/forward.png" /></button>
</div>

</div>


</main>