<main class="App">
  <h1>ABCs with Ashna!</h1>
  <div ng-app="app">

    <body ng-controller="RenderCtrl">
      <button ng-show="!init" width="200" class = "btn btn-primary" ng-click="kick()">Get started!</button>
      <div class="Display">
        <img ng-disabled="!init" title="Click for letter" width="200" ng-click="playCurrentLetter()"
          ng-src="data/images/letters/{{letters[index]}}.jpeg" />
      </div>
      <div class="Display">
        <img ng-disabled="!init" title="Click for word" width="200"  ng-click="playCurrentNoun()"
          ng-src="data/images/nouns/{{letters[index]}}.jpeg" />
      </div>
      <div>
        <button ng-show="init" title="Reverse" class="btn btn-light"  ng-click="reverse()"> <img alt="Reverse"
            width="40" ng-src="data/images/left-arrow.svg" /></button>
        <button ng-show="init"   title="Current" class="btn btn-light"  ng-click="playCurrent()"> <img alt="Forward"
            width="40" ng-src="data/images/question.svg" /></button>
        <button ng-show="init" title="Forward" class="btn btn-light" ng-click="forward()"> <img alt="Current"
            width="40" ng-src="data/images/right-arrow.svg" /></button>
      </div>

      <!-- Prefetching-->
      <div ng-show=false>
        <img ng-repeat="letter in letters" ng-src=data/images/nouns/{{letter}}.jpeg>
        <img ng-repeat="letter in letters" ng-src=data/images/letters/{{letter}}.jpeg>
      </div>
    </body>
  </div>
  <details ng-show="init" class="About">
    <summary>&#9432;</summary>
    ABC Speak, Copyright Steven Mycynek 2021
    <br />
    <span>Click images and buttons to hear letters and words</span> <br/>
    <a href="https://github.com/smycynek/abc-speak">github.com/smycynek/abc-speak</a>
  </details>



</main>